/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*レスポンシブ用*/
:root {
  --color-main: #005BAC;
  --color-txt: #000;
  --color-txtBlue: #004989;
  --color-txtGray: #939393;
  --color-bgGray: #e8e8e8;
  --color-lineBlue: #6EA6D7;
  --color-lineGray: #d0d0d0;
  --color-lineRed: #FBB7BC;
  --color-blue: #004989;
  --color-paleBlue: #E7F0F8;
  --color-red: #E60012;
  --color-paleRed: #FFE1E1;
  --color-gray: #D9D9D9;
  --color-paleGray: #F5F5F5;
  --color-yellow: #F2FF00;
  --color-orange: #FF8001;
  --color-white: #fff;
  --color-black: #000;
}

:root {
  --font-main: "Noto Sans JP", sans-serif;
  --font-en: "Roboto", sans-serif;
}

:root {
  --weight-thin: 100;
  --weight-reguler: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

/*レスポンシブ用*/
:root {
  --color-main: #005BAC;
  --color-txt: #000;
  --color-txtBlue: #004989;
  --color-txtGray: #939393;
  --color-bgGray: #e8e8e8;
  --color-lineBlue: #6EA6D7;
  --color-lineGray: #d0d0d0;
  --color-lineRed: #FBB7BC;
  --color-blue: #004989;
  --color-paleBlue: #E7F0F8;
  --color-red: #E60012;
  --color-paleRed: #FFE1E1;
  --color-gray: #D9D9D9;
  --color-paleGray: #F5F5F5;
  --color-yellow: #F2FF00;
  --color-orange: #FF8001;
  --color-white: #fff;
  --color-black: #000;
}

:root {
  --font-main: "Noto Sans JP", sans-serif;
  --font-en: "Roboto", sans-serif;
}

:root {
  --weight-thin: 100;
  --weight-reguler: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

.toc-box {
  width: 36.8rem;
  background-color: var(--color-paleGray);
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 3.6rem 3.2rem;
}
@media only screen and (max-width: 1023px) {
  .toc-box {
    padding: 2rem 2.2rem;
  }
}

.toc-according {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .toc-according {
    display: flex;
    font-size: 1.2rem;
    color: #797979;
  }
}

.toc-btn {
  display: none;
}

.toc-box li:not(:nth-child(1)) {
  padding-top: 3.2rem;
}
@media only screen and (max-width: 1023px) {
  .toc-box li {
    padding-top: 1.8rem;
  }
  .toc-box li:not(:nth-child(1)) {
    padding-top: 1.6rem;
  }
}

.toc-box a {
  text-decoration: none;
}

/*レスポンシブ用*/
:root {
  --color-main: #005BAC;
  --color-txt: #000;
  --color-txtBlue: #004989;
  --color-txtGray: #939393;
  --color-bgGray: #e8e8e8;
  --color-lineBlue: #6EA6D7;
  --color-lineGray: #d0d0d0;
  --color-lineRed: #FBB7BC;
  --color-blue: #004989;
  --color-paleBlue: #E7F0F8;
  --color-red: #E60012;
  --color-paleRed: #FFE1E1;
  --color-gray: #D9D9D9;
  --color-paleGray: #F5F5F5;
  --color-yellow: #F2FF00;
  --color-orange: #FF8001;
  --color-white: #fff;
  --color-black: #000;
}

:root {
  --font-main: "Noto Sans JP", sans-serif;
  --font-en: "Roboto", sans-serif;
}

:root {
  --weight-thin: 100;
  --weight-reguler: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

@media only screen and (max-width: 1023px) {
  .toc-according {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.toc-btn {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .toc-btn {
    display: block;
    position: relative;
  }
}

@media only screen and (max-width: 1023px) {
  .toc-btn span {
    display: block;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #005bac;
    border-radius: 9999%;
  }
  .toc-btn span::before {
    content: "";
    display: block;
    background-color: white;
    width: 60%;
    height: 2px;
    position: absolute;
    top: 45%;
    left: 20%;
    transition: all 0.4s ease;
  }
  .toc-btn span::after {
    content: "";
    display: block;
    background-color: white;
    width: 60%;
    height: 2px;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: rotate(-90deg);
    transition: all 0.4s ease;
  }
}

.toc-according.active .toc-btn span::after {
  transform: rotate(0deg);
}

@media only screen and (max-width: 1023px) {
  .toc-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
  }
}
